<section class="flex space-x-64">
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="mainBoard mt-6">

        <!-- navigation head -->
        <div class="nav">
            <app-lecturer-nav (passActiveView)="receiveView($event)"></app-lecturer-nav>
        </div>

       
        @if (getView == 'Overview') {
            <!-- overview starts -->

        <!-- lecturer details -->
        <section id="lecturerFeedbackDetails" class="flex flex-col lg:flex-row justify-between gap-1 mx-1 w-[96%]  mt-7">
            <app-lecturer-dashboard-total-courses></app-lecturer-dashboard-total-courses>
            <app-lecturer-dashboard-total-students></app-lecturer-dashboard-total-students>
            <app-lecturer-dashboard-feedbacknumber></app-lecturer-dashboard-feedbacknumber>
        </section>

        <!-- stats section -->
        <h2 class="text-5xl font-semibold p-2 py-1 mt-4">Statistics</h2>

        
        <section>
            <div class="flex flex-col lg:flex-row justify-between gap-4 mx-1 w-[96%]  mt-7">
           
            <div id="chart" class="w-[80%]">
                <app-chart></app-chart>
            </div>

            <div id="similarWords" class="w-[70%]">
               <app-relative-words></app-relative-words> 
            </div>

        </div>
            
        </section>
        
        <!-- overview ends -->

        } @else {
            <!--feedback view  -->
            <h3 class="text-5xl font-bold p-5 my-7">Feedback Received</h3>

            <table class="table-auto w-full">
                <thead>
                  <tr class="text-left text-gray-500 text-sm font-medium">
                    <th class="py-3 text-lg font-semibold">Course Code</th>
                    <th class="py-3 text-lg font-semibold">Course Name</th>
                    <th class="py-3 text-lg font-semibold">Rating</th>
                    <th class="py-3 text-lg font-semibold">Owner</th>
                  </tr>
                </thead>
                
                <tbody>
                  
                    @for (course of courses; track $index) {
                        <tr class="hover:bg-gray-300 p-3">
                            <td class="py-3"><a class="cursor-pointer hover:text-blue-500 hover:underline" routerLink="/browse-courses/{{course.courseCode}}">{{course.courseCode}}</a></td>
                            <td><a class="cursor-pointer hover:text-blue-500 hover:underline" routerLink="/browse-courses/{{course.courseCode}}">{{course.courseName}}</a></td>
                            <td>{{course.instructorName}}</td>
                            <td>{{course.owner}}</td>
                          </tr>
                    }
                    
                </tbody>
              </table>
        }

        
    </div>
</section>