<section class="flex space-x-64">
    <div class="menu">
        <app-student-sidebar></app-student-sidebar>
    </div>

    <!-- main dashboard  -->
    <div class="mainBoard mt-6">

        <!-- navigation head -->
        <div class="nav">
            <app-student-nav></app-student-nav>
        </div>

        <!-- student details -->
    
        <h3 class="text-4xl font-bold p-2 py-1 mt-4">Welcome {{user.userName}}</h3>


        <!-- getstarted section -->

        <h2 class="text-4xl font-bold p-2 py-1 mt-4">Getting Started</h2>

        <p class="px-2 pt-4 pb-2 text-lg">This to know about this analyser system:</p>

        <ul class="px-6 list-decimal">
        <li>Usernames are generated automatically for Students to provide anonymity</li>
        <li>This is in Beta Version</li> 
        <li>Browse Groups, select course and add required course to submit your Feedback in the course group</li>   
        </ul>

        <!-- stats section -->
        <h2 class="text-3xl font-semibold p-2 py-1 mt-4">Courses Joined</h2>

        
        <section>
            <div class="flex flex-col lg:flex-row justify-between gap-4 mx-1 w-[96%]  mt-7">
           
            <div id="chart" class="w-[80%]">
               
            </div>

            <div id="similarWords" class="w-[70%]">
               
            </div>

        </div>
            
        </section>
        

    </div>
</section>